<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into BOARD (size, maker, color, number, coupon, model, sales, price, text) values
        (#{size} , #{maker} , #{color} , #{number} , #{coupon} , #{model} , #{sales} , #{price}, #{text})
    </insert>
    <update id="updateBoard">
        update BOARD
        set size=#{size}, maker=#{maker}, color=#{color}, number=#{number}, coupon=#{coupon}, model=#{model}, sales=#{sales}, price=#{price}, text=#{text}  where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from BOARD where seq=#{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from BOARD where seq=#{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from BOARD order by seq desc
    </select>
</mapper>